In [1]:
import os
import shutil
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from LatticeData import *

In [2]:
analyzer = LatticeData(datadir = "/data_test/")

In [3]:
analyzer.copy_data_from_directory("run_7_18_23_stats")

run L_180_beta_1.600000_itheta_0.000000_ntherm_5000_nMC_50000_freq_100 not yet complete: 378 lines
run L_180_beta_1.600000_itheta_2.356194_ntherm_5000_nMC_50000_freq_100 not yet complete: 391 lines
run L_180_beta_1.600000_itheta_3.141593_ntherm_5000_nMC_50000_freq_100 not yet complete: 237 lines
run L_180_beta_1.600000_itheta_1.570796_ntherm_5000_nMC_50000_freq_100 not yet complete: 381 lines
run L_180_beta_1.600000_itheta_0.785398_ntherm_5000_nMC_50000_freq_100 not yet complete: 240 lines

In [4]:
params = analyzer.all_params()

In [5]:
params.head()

    freq      nMC  ntherm    itheta  beta  length
0  100.0  50000.0  5000.0  0.785398   1.6    20.0
1  100.0  50000.0  5000.0  0.000000   1.6    80.0
2  100.0  50000.0  5000.0  0.000000   1.6    20.0
3  100.0  50000.0  5000.0  1.570796   1.6    40.0
4  100.0  50000.0  5000.0  2.356194   1.6    10.0

In [6]:
param_dict = {"length": 10, "freq": 100, "itheta":2.356194, "beta":1.6, "nMC":50000, "ntherm": 5000}
one_run = analyzer.get_data(single_run = True, suppress_output = False, **param_dict)

freq 100
nMC 50000
ntherm 5000
itheta 2.356194
beta 1.6
length 10

In [15]:
one_run.head()

,step,|phi|,Q_L,A_L,S_L,Xi_L,F_LRe,F_LIm,acc,dt,...,Q_L_ta,A_L_ta,S_L_ta,Xi_L_ta,corr_length_Re,corr_length_Im,F_Re_py,F_Im_py,mass_gap_Re,mass_gap_Im
0,0,100.0,0.479179,-183.166830,-184.295868,45.724903,3.675149,8.145972,0.240000,0.0,...,1,3,3,4,8.966957,-3.640801,0.916337,0.890996,0.095738,0.038872
1,100,100.0,0.159302,-195.846927,-196.222275,62.369185,3.675149,8.145972,0.203762,0.0,...,1,3,3,4,10.472580,-4.252121,0.916337,0.890996,0.081974,0.033283
2,200,100.0,0.000000,-199.012224,-199.012224,48.119359,3.675149,8.145972,0.207164,0.0,...,1,3,3,4,9.198745,-3.734913,0.916337,0.890996,0.093325,0.037892
3,300,100.0,0.312655,-179.261053,-179.997729,46.124447,3.675149,8.145972,0.205681,0.0,...,1,3,3,4,9.006048,-3.656673,0.916337,0.890996,0.095322,0.038703
4,400,100.0,0.000000,-210.091869,-210.091869,41.489411,3.675149,8.145972,0.203716,1.0,...,1,3,3,4,8.541562,-3.468081,0.916337,0.890996,0.100506,0.040808

In [7]:
param_dict = {"length": 10, "freq": 100, "itheta":2.356194, "beta":1.6, "nMC":50000}
one_run = analyzer.get_data(single_run = True, suppress_output = False, **param_dict)

Missing parameters in input:
['ntherm']

In [8]:
param_dict = {"length": 10, "itheta":2.356194}
filtered_data = analyzer.get_data(single_run = False, suppress_output = True, **param_dict)

In [9]:
filtered_data.head()

,step,|phi|,Q_L,A_L,S_L,Xi_L,F_LRe,F_LIm,acc,dt,...,Q_L_ta,A_L_ta,S_L_ta,Xi_L_ta,corr_length_Re,corr_length_Im,F_Re_py,F_Im_py,mass_gap_Re,mass_gap_Im
0,0,100.0,0.479179,-183.166830,-184.295868,45.724903,3.675149,8.145972,0.240000,0.0,...,1,3,3,4,8.966957,-3.640801,0.916337,0.890996,0.095738,0.038872
1,100,100.0,0.159302,-195.846927,-196.222275,62.369185,3.675149,8.145972,0.203762,0.0,...,1,3,3,4,10.472580,-4.252121,0.916337,0.890996,0.081974,0.033283
2,200,100.0,0.000000,-199.012224,-199.012224,48.119359,3.675149,8.145972,0.207164,0.0,...,1,3,3,4,9.198745,-3.734913,0.916337,0.890996,0.093325,0.037892
3,300,100.0,0.312655,-179.261053,-179.997729,46.124447,3.675149,8.145972,0.205681,0.0,...,1,3,3,4,9.006048,-3.656673,0.916337,0.890996,0.095322,0.038703
4,400,100.0,0.000000,-210.091869,-210.091869,41.489411,3.675149,8.145972,0.203716,1.0,...,1,3,3,4,8.541562,-3.468081,0.916337,0.890996,0.100506,0.040808

In [10]:
all_data = analyzer.get_data(single_run = False, suppress_output = True)

In [11]:
df_stats = analyzer.do_stats()

In [15]:
df_stats.columns

Index(['length', 'itheta', 'beta', 'nMC', 'ntherm', 'freq', '|phi|_mean',
       'Q_L_mean', 'A_L_mean', 'S_L_mean', 'Xi_L_mean', 'F_LRe_mean',
       'F_LIm_mean', 'acc_mean', 'Q_L_ta', 'A_L_ta', 'S_L_ta', 'Xi_L_ta',
       'corr_length_Re_mean', 'corr_length_Im_mean', 'F_Re_py_mean',
       'F_Im_py_mean', 'mass_gap_Re_mean', 'mass_gap_Im_mean', '|phi|_std',
       'Q_L_std', 'A_L_std', 'S_L_std', 'Xi_L_std', 'F_LRe_std', 'F_LIm_std',
       'acc_std', 'corr_length_Re_std', 'corr_length_Im_std', 'F_Re_py_std',
       'F_Im_py_std', 'mass_gap_Re_std', 'mass_gap_Im_std', 'time (sec)',
       'time (min)', 'time (hr)'],
      dtype='object')

In [16]:
df_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 41 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   length               25 non-null     float64
 1   itheta               25 non-null     float64
 2   beta                 25 non-null     float64
 3   nMC                  25 non-null     float64
 4   ntherm               25 non-null     float64
 5   freq                 25 non-null     float64
 6   |phi|_mean           25 non-null     float64
 7   Q_L_mean             25 non-null     float64
 8   A_L_mean             25 non-null     float64
 9   S_L_mean             25 non-null     float64
 10  Xi_L_mean            25 non-null     float64
 11  F_LRe_mean           25 non-null     float64
 12  F_LIm_mean           25 non-null     float64
 13  acc_mean             25 non-null     float64
 14  Q_L_ta               25 non-null     float64
 15  A_L_ta               25 non-null     float64
 16  S_L_ta               25 non-null     float64
 17  Xi_L_ta              25 non-null     float64
 18  corr_length_Re_mean  25 non-null     float64
 19  corr_length_Im_mean  25 non-null     float64
 20  F_Re_py_mean         25 non-null     float64
 21  F_Im_py_mean         25 non-null     float64
 22  mass_gap_Re_mean     25 non-null     float64
 23  mass_gap_Im_mean     25 non-null     float64
 24  |phi|_std            25 non-null     float64
 25  Q_L_std              25 non-null     float64
 26  A_L_std              25 non-null     float64
 27  S_L_std              25 non-null     float64
 28  Xi_L_std             25 non-null     float64
 29  F_LRe_std            25 non-null     float64
 30  F_LIm_std            25 non-null     float64
 31  acc_std              25 non-null     float64
 32  corr_length_Re_std   25 non-null     float64
 33  corr_length_Im_std   25 non-null     float64
 34  F_Re_py_std          25 non-null     float64
 35  F_Im_py_std          25 non-null     float64
 36  mass_gap_Re_std      25 non-null     float64
 37  mass_gap_Im_std      25 non-null     float64
 38  time (sec)           25 non-null     float64
 39  time (min)           25 non-null     float64
 40  time (hr)            25 non-null     float64
dtypes: float64(41)
memory usage: 8.1 KB

In [17]:
df_stats["length"].unique()

array([10., 20., 40., 60., 80.])

In [21]:
df_stats = analyzer.do_stats(**{"length":20})
df_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 41 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   length               5 non-null      float64
 1   itheta               5 non-null      float64
 2   beta                 5 non-null      float64
 3   nMC                  5 non-null      float64
 4   ntherm               5 non-null      float64
 5   freq                 5 non-null      float64
 6   |phi|_mean           5 non-null      float64
 7   Q_L_mean             5 non-null      float64
 8   A_L_mean             5 non-null      float64
 9   S_L_mean             5 non-null      float64
 10  Xi_L_mean            5 non-null      float64
 11  F_LRe_mean           5 non-null      float64
 12  F_LIm_mean           5 non-null      float64
 13  acc_mean             5 non-null      float64
 14  Q_L_ta               5 non-null      float64
 15  A_L_ta               5 non-null      float64
 16  S_L_ta               5 non-null      float64
 17  Xi_L_ta              5 non-null      float64
 18  corr_length_Re_mean  5 non-null      float64
 19  corr_length_Im_mean  5 non-null      float64
 20  F_Re_py_mean         5 non-null      float64
 21  F_Im_py_mean         5 non-null      float64
 22  mass_gap_Re_mean     5 non-null      float64
 23  mass_gap_Im_mean     5 non-null      float64
 24  |phi|_std            5 non-null      float64
 25  Q_L_std              5 non-null      float64
 26  A_L_std              5 non-null      float64
 27  S_L_std              5 non-null      float64
 28  Xi_L_std             5 non-null      float64
 29  F_LRe_std            5 non-null      float64
 30  F_LIm_std            5 non-null      float64
 31  acc_std              5 non-null      float64
 32  corr_length_Re_std   5 non-null      float64
 33  corr_length_Im_std   5 non-null      float64
 34  F_Re_py_std          5 non-null      float64
 35  F_Im_py_std          5 non-null      float64
 36  mass_gap_Re_std      5 non-null      float64
 37  mass_gap_Im_std      5 non-null      float64
 38  time (sec)           5 non-null      float64
 39  time (min)           5 non-null      float64
 40  time (hr)            5 non-null      float64
dtypes: float64(41)
memory usage: 1.7 KB

In [20]:
df_stats["length"].unique()

array([20.])