In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from LatticeData import *

In [2]:
data_old = LatticeData(datadir = "/exc_cfg_old/")
src_old = "run_2023_10_27_exc_config_test"
data_old.copy_data_from_directory(src_old)

run L_160_beta_1.600000_itheta_0.000000_ntherm_0_nMC_20000_freq_10 not yet complete: 1889 lines
run L_160_beta_1.600000_itheta_1.570796_ntherm_0_nMC_20000_freq_10 not yet complete: 1761 lines

In [3]:
data_new = LatticeData(datadir = "/exc_cfg_new/")
src_new = "run_2023_11_02_test"
data_new.copy_data_from_directory(src_new)

In [4]:
df_old = data_old.get_exceptional_configurations(src_old)
df_new = data_new.get_exceptional_configurations(src_new)

run L_160_beta_1.600000_itheta_0.000000_ntherm_0_nMC_20000_freq_10 not yet complete: 1889 lines
run L_160_beta_1.600000_itheta_1.570796_ntherm_0_nMC_20000_freq_10 not yet complete: 1761 lines

In [5]:
df_old.head()

   freq      nMC  ntherm  itheta  beta  length  config  num_exc  any_exc
0  10.0  20000.0     0.0     0.0   1.6    80.0  8410.0     21.0        1
1  10.0  20000.0     0.0     0.0   1.6    80.0  5810.0     13.0        1
2  10.0  20000.0     0.0     0.0   1.6    80.0  5910.0     10.0        1
3  10.0  20000.0     0.0     0.0   1.6    80.0   670.0     16.0        1
4  10.0  20000.0     0.0     0.0   1.6    80.0  9750.0     19.0        1

In [6]:
df_new.head()

   freq      nMC  ntherm  itheta  beta  length  config  num_exc  any_exc
0  10.0  20000.0     0.0     0.0   1.6    80.0  8410.0    453.0        1
1  10.0  20000.0     0.0     0.0   1.6    80.0  5810.0    453.0        1
2  10.0  20000.0     0.0     0.0   1.6    80.0  5910.0    453.0        1
3  10.0  20000.0     0.0     0.0   1.6    80.0   670.0    453.0        1
4  10.0  20000.0     0.0     0.0   1.6    80.0  9750.0    453.0        1

In [7]:
old_grouped = df_old.groupby(["length","itheta","beta","nMC","ntherm", "freq"]).sum()
old_grouped

                                              config  num_exc  any_exc
length itheta   beta nMC     ntherm freq
10.0   0.000000 1.6  20000.0 0.0    10.0  19990000.0    391.0      292
       1.570796 1.6  20000.0 0.0    10.0  19990000.0    380.0      289
       3.141593 1.6  20000.0 0.0    10.0  19990000.0    635.0      448
20.0   0.000000 1.6  20000.0 0.0    10.0  19990000.0   1774.0     1035
       1.570796 1.6  20000.0 0.0    10.0  19990000.0   2133.0     1179
       3.141593 1.6  20000.0 0.0    10.0  19990000.0   3486.0     1510
40.0   0.000000 1.6  20000.0 0.0    10.0  19990000.0   7632.0     1911
       1.570796 1.6  20000.0 0.0    10.0  19990000.0   9333.0     1948
       3.141593 1.6  20000.0 0.0    10.0  19990000.0  16037.0     1996
80.0   0.000000 1.6  20000.0 0.0    10.0  19990000.0  32844.0     2000
       1.570796 1.6  20000.0 0.0    10.0  19990000.0  39854.0     2000
       3.141593 1.6  20000.0 0.0    10.0  19990000.0  64596.0     2000

In [8]:
new_grouped = df_new.groupby(["length","itheta","beta","nMC","ntherm", "freq"]).sum()
new_grouped

                                              config    num_exc  any_exc
length itheta   beta nMC     ntherm freq
10.0   0.000000 1.6  20000.0 0.0    10.0  19990000.0    14000.0     2000
       1.570796 1.6  20000.0 0.0    10.0  19990000.0    14000.0     2000
       3.141593 1.6  20000.0 0.0    10.0  19990000.0    14000.0     2000
20.0   0.000000 1.6  20000.0 0.0    10.0  19990000.0    34000.0     2000
       1.570796 1.6  20000.0 0.0    10.0  19990000.0    34000.0     2000
       3.141593 1.6  20000.0 0.0    10.0  19990000.0    34000.0     2000
40.0   0.000000 1.6  20000.0 0.0    10.0  19990000.0   246000.0     2000
       1.570796 1.6  20000.0 0.0    10.0  19990000.0   246000.0     2000
       3.141593 1.6  20000.0 0.0    10.0  19990000.0   246000.0     2000
80.0   0.000000 1.6  20000.0 0.0    10.0  19990000.0   906000.0     2000
       1.570796 1.6  20000.0 0.0    10.0  19990000.0   906000.0     2000
       3.141593 1.6  20000.0 0.0    10.0  19990000.0   906000.0     2000
160.0  0.000000 1.6  20000.0 0.0    10.0  19990000.0  3766000.0     2000
       1.570796 1.6  20000.0 0.0    10.0  19990000.0  3766000.0     2000
       3.141593 1.6  20000.0 0.0    10.0  19990000.0  3766000.0     2000

In [9]:
df_old["num_exc"].unique()

array([ 21.,  13.,  10.,  16.,  19.,  20.,  14.,  15.,  11.,  17.,  22.,
        24.,  12.,  18.,  25.,  23.,  27.,   9.,   8.,   6.,  26.,  28.,
        33.,   7.,   5.,  79.,  30.,   3.,  29.,  40.,  31., 588.,  36.,
        52.,  42.,   0.,   2.,   1.,   4.,  41., 157., 139.,  45., 167.,
        46.,  32.,  34.,  92., 641.,  35.,  62.,  38.,  53.,  37.,  39.,
        44.,  43.,  50.,  49.,  47., 115.,  58.,  59.,  51.,  48., 672.,
        56.,  90.,  67.,  70.,  54.])

In [10]:
df_old["num_exc"].unique()

array([ 21.,  13.,  10.,  16.,  19.,  20.,  14.,  15.,  11.,  17.,  22.,
        24.,  12.,  18.,  25.,  23.,  27.,   9.,   8.,   6.,  26.,  28.,
        33.,   7.,   5.,  79.,  30.,   3.,  29.,  40.,  31., 588.,  36.,
        52.,  42.,   0.,   2.,   1.,   4.,  41., 157., 139.,  45., 167.,
        46.,  32.,  34.,  92., 641.,  35.,  62.,  38.,  53.,  37.,  39.,
        44.,  43.,  50.,  49.,  47., 115.,  58.,  59.,  51.,  48., 672.,
        56.,  90.,  67.,  70.,  54.])