In [1]:
#import os
#import shutil
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from LatticeData import *

In [2]:
analyzer = LatticeData(datadir = "/data_test/")
#analyzer.copy_data_from_directory("run_2023_10_04_config_test")

In [3]:
cfg_df = analyzer.get_exceptional_configurations("run_2023_10_04_config_test")

In [4]:
cfg_df.head()

   freq      nMC  ntherm  itheta  beta  length  config  num_exc  any_exc
0  10.0  20000.0     0.0     0.0   1.6    80.0  8410.0     43.0        1
1  10.0  20000.0     0.0     0.0   1.6    80.0  5810.0     43.0        1
2  10.0  20000.0     0.0     0.0   1.6    80.0  5910.0     43.0        1
3  10.0  20000.0     0.0     0.0   1.6    80.0   670.0     43.0        1
4  10.0  20000.0     0.0     0.0   1.6    80.0  9750.0     43.0        1

In [5]:
cfgs_grouped = cfg_df.groupby(["length","itheta","beta","nMC","ntherm", "freq"]).sum()

In [6]:
cfgs_grouped

                                              config   num_exc  any_exc
length itheta   beta nMC     ntherm freq
10.0   0.000000 1.6  20000.0 0.0    10.0  19990000.0       0.0        0
                     40000.0 0.0    10.0  79980000.0    8000.0     4000
       1.570796 1.6  20000.0 0.0    10.0  19990000.0       0.0        0
                     40000.0 0.0    10.0  79980000.0       0.0        0
       3.141593 1.6  20000.0 0.0    10.0  19990000.0       0.0        0
                     40000.0 0.0    10.0  79980000.0       0.0        0
20.0   0.000000 1.6  20000.0 0.0    10.0  19990000.0    4000.0     2000
                     40000.0 0.0    10.0  79980000.0       0.0        0
       1.570796 1.6  20000.0 0.0    10.0  19990000.0    6000.0     2000
                     40000.0 0.0    10.0  79980000.0    8000.0     4000
       3.141593 1.6  20000.0 0.0    10.0  19990000.0    6000.0     2000
                     40000.0 0.0    10.0  79980000.0   16000.0     4000
40.0   0.000000 1.6  20000.0 0.0    10.0  19990000.0   26000.0     2000
                     40000.0 0.0    10.0  79980000.0   36000.0     4000
       1.570796 1.6  20000.0 0.0    10.0  19990000.0   12000.0     2000
                     40000.0 0.0    10.0  79980000.0   44000.0     4000
       3.141593 1.6  20000.0 0.0    10.0  19990000.0   34000.0     2000
                     40000.0 0.0    10.0  79980000.0   48000.0     4000
80.0   0.000000 1.6  20000.0 0.0    10.0  19990000.0   86000.0     2000
       1.570796 1.6  20000.0 0.0    10.0  19990000.0   58000.0     2000
       3.141593 1.6  20000.0 0.0    10.0  19990000.0  136000.0     2000
160.0  0.000000 1.6  20000.0 0.0    10.0  19990000.0  268000.0     2000
       1.570796 1.6  20000.0 0.0    10.0  19990000.0  274000.0     2000
       3.141593 1.6  20000.0 0.0    10.0  19990000.0  494000.0     2000

In [7]:
cfg_df["num_exc"].unique()

array([ 43., 134.,   0.,  12.,  17.,  13.,   2.,   3., 137.,   6.,  11.,
       247.,  29.,  68.,   9.,   4.])